* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    color: white;
    text-align: justify;
}

body {
    margin: 0;
    background: linear-gradient(0deg, rgba(6, 19, 36, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
/*Inicio das estrelas*/
.star {
    z-index: -1;
    position: absolute;
    top: -10px; /* Começa acima da tela */
    width: 5px;
    height: 5px;
    background-color: #ffffff; /* Cor das estrelas */
    border-radius: 50%; /* Forma circular */
    opacity: 0.8;
    animation: fall linear forwards; /* Animação de queda */
  }
  
  @keyframes fall {
    to {
        transform: translateY(100vh); /* Move a estrela até o fundo da tela */
        opacity: 0; /* Desaparece ao final da animação */
    }
  }
  
  /*Fim de estrelas*/


header {
    top: 0;
    width: 100%;
    height: 70px;
    position: sticky;
    background-color: #000000b1;
    z-index: 1000;
}



.ul {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}

a {
    text-decoration: none;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

li {
    font-size: 20px;
    text-align: center;
    list-style: none;
    
}

.ul :hover {
    transform: scale(1.2);
    transition-duration: 300ms;
}

.sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
    height: auto;
    background-color: #109e00;
}

.Home {
    background-color: #00096d;
    height: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-principal {
    background-image: url('img/fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 300px;
    background-color: #1877f2;
    
}

.typed {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #fff;
    animation: typing 4s steps(30, end) forwards, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #ffffff00;
    }
}

.P {
    font-size: large;
    font-size: 19px;
    line-height: 1.3;
    padding: 2px;
}

.H1 {
    text-align: center;
    margin-top: 30px;
}

/*Inicio de PROJETOS*/
.container-card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
}

.card{
    margin: 3%;
    border-radius: 5px;
    height: 400px;
    width: 300px;
    background-color: black;
    box-shadow: 5px 5px  10px #5363a754 ;

}

.img{
    margin: 20px;
    height: 200px;
    border-radius: 5px;
    background-color: #00096d;
}

#img1{
    background-image: url('../img/jmmotopecas.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.descr{

    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

.cont-buttom{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}

.Btn {
    
    width: 120px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}

.cont-buttom{
  margin: 25px 0;
}

.Btn:hover  {
  transform: scale(1.1);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  background-color: rgba(0, 4, 124, 0.466);
  backdrop-filter: blur(4px);
}

.svgContainer {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgb(255, 255, 255);
}

.p{
    margin-left: 5px;
}

.p2{
    margin-right: 5px;
}

/*Habilidades*/

.cartoes {
    background-color: #109e0000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    height: auto;
    gap: 20px;
    width: 90%;
}



.nulo {
    opacity: 0;
    /* Começa invisível */
    visibility: hidden;
    /* Impede que o elemento ocupe espaço */
    color: white;
    padding: 10px;
    text-align: left;
    font-size: large;
    line-height: 1.3;
    transform: translateY(20px);
    /* Move o texto para baixo inicialmente */
    transition: opacity 1s ease, transform 1s ease, visibility 0s linear 1s;
    /* Transições suaves */
}

.imgCT1:hover .nulo {
    opacity: 1;
    /* Torna o texto visível */
    visibility: visible;
    /* Permite que o elemento ocupe espaço */
    transform: translateY(0);
    /* Move o texto para sua posição original */
    transition: opacity 0.5s ease, transform 1s ease;
    /* Transições suaves */
}

.imgCT2:hover .nulo {
    opacity: 1;
    /* Torna o texto visível */
    visibility: visible;
    /* Permite que o elemento ocupe espaço */
    transform: translateY(0);
    /* Move o texto para sua posição original */
    transition: opacity 0.5s ease, transform 1s ease;
    /* Transições suaves */
}

.imgCT3:hover .nulo {
    opacity: 1;
    /* Torna o texto visível */
    visibility: visible;
    /* Permite que o elemento ocupe espaço */
    transform: translateY(0);
    /* Move o texto para sua posição original */
    transition: opacity 0.5s ease, transform 1s ease;
    /* Transições suaves */
}

.imgCT4:hover .nulo {
    opacity: 1;
    /* Torna o texto visível */
    visibility: visible;
    /* Permite que o elemento ocupe espaço */
    transform: translateY(0);
    /* Move o texto para sua posição original */
    transition: opacity 0.5s ease, transform 1s ease;
    /* Transições suaves */
}

.imgCT5:hover .nulo {
    opacity: 1;
    /* Torna o texto visível */
    visibility: visible;
    /* Permite que o elemento ocupe espaço */
    transform: translateY(0);
    /* Move o texto para sua posição original */
    transition: opacity 0.5s ease, transform 1s ease;
    /* Transições suaves */
}



.imgCT1,
.imgCT2,
.imgCT3,
.imgCT4,
.imgCT5{
    width: 180px;
    height: 180px;
}

.imgCT1 {
    border-radius: 5px;
    background-image: url('img/python.png');
    background-position: center;
    background-size: cover;

}

.imgCT1:hover{
    background-color: #000000;
    background-image: none;
}

.imgCT2 {
    background-image: url('img/JAVASCRIPT.png');
    background-position: bottom;
    background-size: cover;
    border-radius: 5px;
}

.imgCT2:hover{
    background-color: #000000;
    background-image: none;
}

.imgCT3 {
    border-radius: 5px;
    background-image: url('img/sql.png');
    background-position: center;
    background-size: cover;
}

.imgCT3:hover{
    background-color: #000000;
    background-image: none;
}

.imgCT4 {
    border-radius: 5px;
    background-image: url('img/HTML.png');
    background-position: center;
    background-size: cover;
}

.imgCT4:hover{
    background-color: #000000;
    background-image: none;
}

.imgCT5 {
    border-radius: 5px;
    background-image: url('img/CSS.png');
    background-position: center;
    background-size: cover;
}

.imgCT5:hover{
    background-color: #000000;
    background-image: none;
}

.p-ul {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

.container {
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
    
    width: 90%;
    height: auto;


}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    height: auto;
    width: 100%;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  
}

.wrapper .icon {
    position: relative;
    background: #000000;
    z-index: 0;
    border-radius: 50%;
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: -1;
    border-radius: 50%;
    top: 100%;
}

.wrapper .icon:hover:after {
    animation: bg-pos 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1 both;
    animation-timing-function: ease-in-out;
}

.wrapper .icon:hover {
    color: #fff;
    overflow: unset;
    transition: color 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation: overflow-toggle 0.7s;
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .mail::after {
    background-color: #c10000;
}

.wrapper .linkedin::after {
    background-color: #1877f2;
}

.wrapper .github::after {
    background-color: #28006d;
}

.wrapper .whats::after {
    background-color: #109e00;
}

.wrapper .instagram::after {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.wrapper .mail:hover .tooltip,
.wrapper .mail:hover .tooltip::before {
    background: #c10000;
    color: #fff;
}

.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}

.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #28006d;
    color: #fff;
}

.wrapper .whats:hover .tooltip,
.wrapper .whats:hover .tooltip::before {
    background: #109e00;
    color: #fff;
}

.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #fd5949;
    color: #fff;
}

@keyframes bg-pos {
    0% {
        top: 100%;
    }

    100% {
        top: 0;
    }
}

@keyframes overflow-toggle {
    0% {
        overflow: hidden;
    }

    100% {
        overflow: visible;
    }
}

.sky {
    position: absolute;
    /* Permite que ele fique atrás */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* Fundo preto */
    z-index: -1;
    /* Coloca o fundo atrás de tudo */

}
footer {
    text-align: center;
    margin-top: 17%;
    padding-bottom: 20px;
}


/* Media Query */
@media (max-width: 412px) {
   .ul{
    display: none;
   }
   header{
    height: 0;
   }

    .imgCT1,
    .imgCT2,
    .imgCT3,
    .imgCT4,
    .imgCT5{
    width: 140px;
    height: 140px;
}

.nulo {
    font-size: medium;
    line-height: 1.2;
}

.Home{
    width: 60%;
}

}

@media (max-width: 680px) {
    .ul{
        width: 80%;
    }

    .sobre{
        gap: 20px;
        display: flex;
        margin: auto;
        margin-top: 10px;
        flex-direction: column-reverse; 
        align-items: center;
    }

  
    .Home{
        width: 95%;
    }

    .img-principal{
        height: 200px;
        width: 200px;
    }

    @keyframes typing {
        from {
            width: 0;
        }
    
        to {
            width: 100%;
        }
    }

    .typed {
        
        font-size: 20px;
    }

    .P {
        font-size: 18px;
    }
    .Home{
        width: 100%;
    }
}

@media (min-width:681px) and (max-width: 860px) {
    .ul{
        width: 75%;
    }
    
    .sobre{
        margin-top: 10%;
    }

    .Home {
        height: auto;
        width: 60%;
    }

    .img-principal{
        height: 200px;
        width: 200px;
    }
    @keyframes typing {
        from {
            width: 0;
        }
    
        to {
            width: 100%;
        }
    }

    .cartoes {
        height: 700px;
        width: 100%;
      
    }
}
